xsd/intermediate_addons.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="addons">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="addon">
					<xs:complexType>
						<xs:attribute name="id" type="UUID" use="required" />
						<xs:attribute name="name" type="xs:string" use="required" />
						<xs:attribute name="replace" type="tabs" use="required" />
						<xs:attribute name="cmd" type="xs:string" use="required" />
					</xs:complexType>
				</xs:element>
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="tabs">
		<xs:annotation>
			<xs:documentation>Enum of tabs being replacable</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="" />
			<xs:enumeration value="tab_criteria" />
			<xs:enumeration value="tab_userfields" />
			<xs:enumeration value="tab_history" />
			<xs:enumeration value="tab_references" />
			<xs:enumeration value="tab_participants" />
			<xs:enumeration value="tab_information" />
			<xs:enumeration value="tab_kpis" />
			<xs:enumeration value="tab_bcps" />
			<xs:enumeration value="tab_distribution" />
			<xs:enumeration value="tab_management" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="UUID">
		<xs:annotation>
			<xs:documentation>UUID formatted to "{XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX}"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\{[0-9a-fA-F]{8,8}\-[0-9a-fA-F]{4,4}\-[0-9a-fA-F]{4,4}\-[0-9a-fA-F]{4,4}\-[0-9a-fA-F]{12,12}\}" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>