xsd/intermediate_exclusions.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
	<xs:element name="exclusions">
		<xs:complexType>
			<xs:sequence>
				<xs:element maxOccurs="unbounded" name="uuid" type="UUID" />
			</xs:sequence>
		</xs:complexType>
	</xs:element>

	<xs:simpleType name="UUID">
		<xs:annotation>
			<xs:documentation>UUID formatted to "{XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX}"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\{[0-9a-fA-F]{8,8}\-[0-9a-fA-F]{4,4}\-[0-9a-fA-F]{4,4}\-[0-9a-fA-F]{4,4}\-[0-9a-fA-F]{12,12}\}" />
		</xs:restriction>
	</xs:simpleType>
</xs:schema>