xsd/intermediate_tree.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="tree" type="TreeObject" />

	<xs:complexType name="TreeObject">
		<xs:annotation>
			<xs:documentation>Provides the Tree Object (xml root).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="ItemObject" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="id" type="id" use="required" />
	</xs:complexType>

	<xs:complexType name="ItemObject">
		<xs:annotation>
			<xs:documentation>Provides the Tree Item Object.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:unsignedLong" minOccurs="1" maxOccurs="1" />
			<xs:element name="parents" type="ParentsCollection" minOccurs="1" maxOccurs="1" />
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="shapetext" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="image" type="xs:string" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ParentsCollection">
		<xs:annotation>
			<xs:documentation>Provides the Parent Collection Object.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="parent" type="ParentObject" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
	</xs:complexType>

	<xs:complexType name="ParentObject">
		<xs:annotation>
			<xs:documentation>Provides the Parent Object.</xs:documentation>
		</xs:annotation>
		<xs:attribute name="id" type="xs:unsignedLong" use="required" />
		<xs:attribute name="uuid" type="UUID" use="optional" />
		<xs:attribute name="number" type="xs:unsignedLong" use="optional" />
	</xs:complexType>

	<xs:simpleType name="id">
		<xs:annotation>
			<xs:documentation>Provides the Tree ID Enumeration.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="processes" />
			<xs:enumeration value="information" />
			<xs:enumeration value="areas" />
			<xs:enumeration value="myprocesses" />
			<xs:enumeration value="myinformation" />
			<xs:enumeration value="myareas" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="UUID">
		<xs:annotation>
			<xs:documentation>UUID formatted to "{XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX}"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\{[0-9a-fA-F]{8,8}\-[0-9a-fA-F]{4,4}\-[0-9a-fA-F]{4,4}\-[0-9a-fA-F]{4,4}\-[0-9a-fA-F]{12,12}\}" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>