xsd/intermediate_list.xsd

<?xml version="1.0" encoding="utf-8"?>
<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">

	<xs:element name="list" type="ListObject" />

	<xs:complexType name="ListObject">
		<xs:annotation>
			<xs:documentation>Provides the List Object (xml root).</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="item" type="ItemObject" minOccurs="0" maxOccurs="unbounded" />
		</xs:sequence>
		<xs:attribute name="id" type="id" use="required" />
	</xs:complexType>

	<xs:complexType name="ItemObject">
		<xs:annotation>
			<xs:documentation>Provides the List Item Object.</xs:documentation>
		</xs:annotation>
		<xs:sequence>
			<xs:element name="id" type="xs:unsignedLong" minOccurs="1" maxOccurs="1" />
			<xs:element name="name" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="shapetext" type="xs:string" minOccurs="1" maxOccurs="1" />
			<xs:element name="image" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="altimage" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="uri" type="xs:string" minOccurs="0" maxOccurs="1" />
			<xs:element name="shapeuuid" type="UUID" minOccurs="0" maxOccurs="1" />
		</xs:sequence>
	</xs:complexType>

	<xs:simpleType name="id">
		<xs:annotation>
			<xs:documentation>Provides the List ID Enumeration.</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:enumeration value="languages_content" />
			<xs:enumeration value="languages_ui" />
			<xs:enumeration value="areas" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="ID">
		<xs:annotation>
			<xs:documentation>ID being a number or 'A' representing actual content language</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="[0-9A]{1,}" />
		</xs:restriction>
	</xs:simpleType>

	<xs:simpleType name="UUID">
		<xs:annotation>
			<xs:documentation>UUID formatted to "{XXXXXXXX-XXXX-XXXX-XXXX-XXXXXXXXXXXX}"</xs:documentation>
		</xs:annotation>
		<xs:restriction base="xs:string">
			<xs:pattern value="\{[0-9a-fA-F]{8,8}\-[0-9a-fA-F]{4,4}\-[0-9a-fA-F]{4,4}\-[0-9a-fA-F]{4,4}\-[0-9a-fA-F]{12,12}\}" />
		</xs:restriction>
	</xs:simpleType>

</xs:schema>